.services-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.service
{
    background: var(--bg-var);
    border-radius: 0 0 2rem 2rem;
    height: fit-content;
    transition: var(--transition);
}

.service-header
{
    background: var(--primary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 1 2rem 1rem rgba(0,0,0,0.1);
}

.service-header h3
{
    color: var(--bg-var);
    text-align: center;
}

.service-list
{
    padding: 2rem;
}

.service-list li
{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.service-list-icon
{
    color: var(--primary);
    margin-top: 2px;
    width: 2rem;
}

.service-list p
{
    font-size: 0.9rem;
}

/* tablet queries */
@media screen and (max-width: 1024px)
{
    .services-container
    {
        gap: 2rem;
    }

    .service
    {
        height: auto;
    }
}

/* phone queries */
@media screen and (max-width: 600px)
{
    .services-container
    {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}