.contact-options
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.contact-option
{
    background: var(--bg-var);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact-option:hover
{
    background: transparent;
    border-color: var(--primary-var);
}

.contact-option-icon
{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact-option a
{
    margin-top: 0.5rem;
    display: inline-block;
    font-size: 0.8rem;
}

form
{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea
{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--primary-var);
    resize: none;
    color: var(--white);
}

/* phone queries */
@media screen and (max-width: 600px)
{
    .contact-options
    {
        grid-template-columns: 1fr;
    }
}