.contact-options
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.contact-option
{
    background: var(--bg-var);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    transition: var(--transition);
}

.contact-option:hover
{
    background: var(--primary-var);
}

.contact-option a
{
    transition: var(--transition);
}

.contact-option a:hover
{
    color: var(--bg-var);
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.contact-option-icon
{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact-option a
{
    margin-top: 0.5rem;
    display: inline-block;
    font-size: 0.8rem;
}

/* phone queries */
@media screen and (max-width: 600px)
{
    .contact-options
    {
        grid-template-columns: 1fr;
    }
}